html, body, section, article, h1, h2, p {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

img {
  width: inherit;
}

body {
  line-height: 1.5;
}

li {
  style: inherit;
}