
body {
  width: 1000px;
  margin: 0 auto;
}

.jess-kell-clock {
  font-family: Quicksand;
  width: 700px;
  margin: 0 auto;
  border: 1px solid rgb(196, 69, 90);
  background-color: rgba(231, 175, 225, 0.471);
  font-weight: 300;
  font-size: 50px;
}

h1 {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 200px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgb(249, 195, 204);
}

p {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  line-height: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}

